{% extends 'base.html.twig' %}

{% block title %}Affectation{% endblock %}

{% block body %}
    <h1>Affectation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affectation.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_affectation_index') }}">back to list</a>

    <a href="{{ path('app_affectation_edit', {'id': affectation.id}) }}">edit</a>

    {{ include('affectation/_delete_form.html.twig') }}
{% endblock %}
